################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebApiDemo/bin/Debug/netcoreapp1.1
/WebApiDemo/obj
/.vs
/WebApiDemo.DataProvider/bin
/WebApiDemo.DataProvider/obj
/WebApiDemo.Models/bin
/WebApiDemo.Models/obj
/WebApiDemo/appsettings.*.json
/WebApiDemo/bin
/WebApiDemo/Properties/PublishProfiles
/WebApiDemo/WebApiDemo.csproj.user
/WebApiDemo.UnitTest/bin/Debug/netcoreapp2.0
/WebApiDemo.UnitTest/obj
